# Files created by code editors
.idea/
.vscode/

# Files created by Python
__pycache__/
*.egg-info/
*.pyc
venv/

# Database file
db.sqlite3

# Files created by Apple macOS
.DS_Store

# Media files we uploaded in Wagtail
/media/

# Static files collected through 'manage.py collectstatic'
/static/
